params {
    // 既存 main.nf と同様、チケット単位で S3 を切り替え
    input_path = 'ticket12137/01_RawData'
    ticket = params.input_path.split('/')[0]
    fastq_dir = "s3://ci-genome-tokyo/data/${params.input_path}"
    outdir = "s3://ci-genome-tokyo/data/${params.ticket}/results_rnaseq"

    // 入力 read の種類。混在は想定せず、実行単位で PE か SE を切り替える
    read_type = 'PE' // 'PE' or 'SE'

    // HISAT2 index tar.gz の所在
    // 例: s3://{S3_BUCKET}/ref/human/hg38.tar.gz
    hisat2_reference = 's3://ci-genome-tokyo/ref'
    hisat2_species = 'human'   // 例: human / mouse
    hisat2_record = 'hg38'     // 例: hg38 / GRCm39

    // RSEM 参照（rsem_run.sh: s3://.../ref/\${SPECIES}/rsem_\${RECORD}.tar.gz）
    rsem_reference = 's3://ci-genome-tokyo/ref'
    rsem_species = 'human'   // 例: human / mouse
    rsem_record = 'hg38'     // 例: hg38 / GRCm39（tar 内の ./rsem/\${RECORD}/ を参照）

    // 将来用（RSEM では未使用）
    gtf = 's3://ci-genome-tokyo/references/mm39/annotation.gtf'

    // ローカル検証用プレースホルダ（awsbatch プロファイルでは process ブロックで上書き）
    container_qc = 'bio-ngs-qc:latest'
    container_mapping = 'bio-ngs-mapping:latest'
    container_count = 'bio-ngs-count:latest'
}

wave.enabled = false
fusion.enabled = false

process {
    executor = 'local'
    withName: 'TRIMMING_PE' { container = params.container_qc }
    withName: 'TRIMMING_SE' { container = params.container_qc }
    withName: 'QC_PE' { container = params.container_qc }
    withName: 'QC_SE' { container = params.container_qc }
    withName: 'MAPPING_PE' { container = params.container_mapping }
    withName: 'MAPPING_SE' { container = params.container_mapping }
    withName: 'COUNT_PE' { container = params.container_count }
    withName: 'COUNT_SE' { container = params.container_count }
}

profiles {
    awsbatch {
        process.executor = 'awsbatch'
        process.queue = 'bio-analysis-queue'

        process {
            withName: 'TRIMMING_PE' {
                container = '312466295096.dkr.ecr.ap-northeast-1.amazonaws.com/bio-ngs-qc:latest'
            }
            withName: 'TRIMMING_SE' {
                container = '312466295096.dkr.ecr.ap-northeast-1.amazonaws.com/bio-ngs-qc:latest'
            }
            withName: 'QC_PE' {
                container = '312466295096.dkr.ecr.ap-northeast-1.amazonaws.com/bio-ngs-qc:latest'
            }
            withName: 'QC_SE' {
                container = '312466295096.dkr.ecr.ap-northeast-1.amazonaws.com/bio-ngs-qc:latest'
            }
            withName: 'MAPPING_PE' {
                container = '312466295096.dkr.ecr.ap-northeast-1.amazonaws.com/bio-ngs-mapping:latest'
            }
            withName: 'MAPPING_SE' {
                container = '312466295096.dkr.ecr.ap-northeast-1.amazonaws.com/bio-ngs-mapping:latest'
            }
            withName: 'COUNT_PE' {
                container = '312466295096.dkr.ecr.ap-northeast-1.amazonaws.com/bio-ngs-count:latest'
            }
            withName: 'COUNT_SE' {
                container = '312466295096.dkr.ecr.ap-northeast-1.amazonaws.com/bio-ngs-count:latest'
            }
        }

        aws.region = 'ap-northeast-1'
        aws.batch.jobRole = 'arn:aws:iam::312466295096:role/BioInfraStack-BatchJobRole37A83758-cBIhjhlZgmYr'
        workDir = "s3://ci-genome-tokyo/data/${params.ticket}/work_rnaseq"
    }
}

docker.enabled = true
